body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(0, 255, 64);
  text-align: center;
}

h2, h3 {
  color: rgb(0, 128, 255);
}

a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #4CAF50;
}

a:hover {
  text-decoration: underline;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.error {
  color: red;
}
