@charset "ISO-8859-1";
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insert-header {
    font-size: 24px;
    color: rgb(255, 0, 128);
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}



.form-container {
    display: flex;
    flex-direction: row;
}

.form-container form {
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.5s;
    box-shadow: deeppink;
}

.form-container form:hover {
    transform: scale(1.05);
}
.insert-button {
    background-color: rgb(255, 128, 192);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.insert-button:hover {
    background-color: rgb(255, 128, 192);
}
.update-button {
    background-color: rgb(255, 128, 255);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.update-button:hover {
    background-color: rgb(255, 128, 255);
}

.delete-button {
    background-color: rgb(0, 64, 128);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.delete-button:hover {
    background-color: rgb(0, 64, 128);
}

